# Python byte code
*.pyc

*.swp

*.*~
# Mac desktop service store files
.DS_Store
**/*.jar
**/*.db

# # Log and Process id files
# *.log
# *.pid

# editorconfig
.editorconfig

# vs code workspace settings
.vscode/


tmp/
.tmp
