{% load staticfiles %}
{% load pipeline %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{ title }} | i5k - App{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {% stylesheet 'app-layout' %}
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700'>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Inconsolata:400,700'>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">
    {% block head-scripts %}{% endblock %}
    {% javascript 'app-analytics' %}
</head>

  <body class="padtop {% block bodyclass %}{% endblock %}">
    <!-- Testing Modern Code Header -->
    <section class="usa-banner" aria-label="Official government website">
      <div class="usa-accordion">
        <header class="usa-banner__header">
          <div class="usa-banner__inner">
            <div class="grid-col-auto">
              <img class="usa-banner__header-flag" src="../../img/us_flag_small.png" alt="U.S. flag">
            </div>
            <div class="grid-col-fill tablet:grid-col-auto">
              <p class="usa-banner__header-text">An official website of the United States government</p>
              <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
            </div>
            <button class="usa-accordion__button usa-banner__button"
                    aria-expanded="false" aria-controls="gov-banner">
              <span class="usa-banner__button-text">Here’s how you know</span>
            </button>
          </div>
        </header>
        <div class="usa-banner__content usa-accordion__content" id="gov-banner">
          <div class="grid-row grid-gap-lg">
            <div class="usa-banner__guidance tablet:grid-col-6">
              <img class="usa-banner__icon usa-media-block__img" src="../../img/icon-dot-gov.svg" role="img" alt="Dot gov">
              <div class="usa-media-block__body">
                <p>
                  <strong>
                    Official websites use .gov
                  </strong>
                  <br/>
                  A <strong>.gov</strong> website belongs to an official government organization in the United States.
    
                </p>
              </div>
            </div>
            <div class="usa-banner__guidance tablet:grid-col-6">
              <img class="usa-banner__icon usa-media-block__img" src="../../img/icon-https.svg" role="img" alt="Https">
              <div class="usa-media-block__body">
                <p>
                  <strong>
                    Secure .gov websites use HTTPS
                  </strong>
                  <br/>
                  A <strong>lock</strong> (
                  <span class="icon-lock"><svg xmlns="http://www.w3.org/2000/svg" width="52" height="64" viewBox="0 0 52 64" class="usa-banner__lock-image" role="img" aria-labelledby="banner-lock-title banner-lock-description"><title id="banner-lock-title">Lock</title><desc id="banner-lock-description">A locked padlock</desc><path fill="#000000" fill-rule="evenodd" d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"/></svg></span>
                  ) or <strong>https://</strong> means you’ve safely connected to the .gov website. Share sensitive information only on official, secure websites.
    
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Testing Modern Code Header -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="http://i5k.nal.usda.gov/" class="navbar-brand"><img src="{% static 'app/images/I5klogo-blast.png' %}"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tools<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'blast:create' %}">BLAST</a></li>
                            <li><a href="{% url 'hmmer:create' %}">HMMER</a></li>
                            <li><a href="{% url 'clustal:create' %}">CLUSTAL</a></li>
                        </ul>
                    </li>
                </ul>
              {% if request.user.is_superuser %}
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                </ul>
                {% endif %}
                <ul class="nav navbar-nav">
                  <li><a href="https://i5k.nal.usda.gov/about-us">About Us</a></li>
                  <li><a href="https://i5k.nal.usda.gov/contact">Contact</a></li>
                  {% block navbar %}
                  {% endblock %}
                </ul>
            </div>
        </div>
    </nav>
    {% block content-body %}
    {% endblock %}
    <div class="container-fluid" style="height: 100%;">
      {% block content-fluid %}
        <div class="container body-content">
          {% block content %}
          {% endblock %}
          <hr/>
          <footer>
            <p>{% now "Y" %} - National Agricultural Library</p>
			<p>Take a look at <a href=https://github.com/NAL-i5K/genomics-workspace> our github</a> for more detailed information</p>
    </footer>

    <!-- Testing Modern Code Footer -->
    <footer class="usa-footer usa-footer--big">
      <div class="usa-footer__primary-section">
          <div class="grid-container">
              <div class="grid-row grid-gap flex-align-center">
                  <div class="tablet:grid-col-8">
                      <nav class="usa-footer__nav" aria-labelledby="footer-links-header">
                          <h2 id="footer-links-header" class="usa-sr-only">Footer</h2>
                          <ul class="display-flex flex-wrap">
                              <li class="nal-footer__primary-link"><a href="#">Home</a></li>
                              <li class="nal-footer__primary-link"><a href="#">Footer Link</a></li>
                              <li class="nal-footer__primary-link"><a href="#">Footer Link</a></li>
                          </ul>
                      </nav>
                  </div>
                  <nav class="tablet:grid-col-4" aria-labelledby="social-links-header">
                      <h2 id="social-links-header" class="usa-sr-only">Social Links</h2>
                      <ul class="grid-row grid-gap-1 usa-list usa-list--unstyled">
                          <li class="grid-col-auto">
                              <a class="usa-social-link usa-social-link--facebook" href="javascript:void(0);">
                                  <span>Facebook</span>
                              </a>
                          </li>
                          <li class="grid-col-auto">
                              <a class="usa-social-link usa-social-link--twitter" href="javascript:void(0);">
                                  <span>Twitter</span>
                              </a>
                          </li>
                          <li class="grid-col-auto">
                              <a class="usa-social-link usa-social-link--youtube" href="javascript:void(0);">
                                  <span>YouTube</span>
                              </a>
                          </li>
                          <li class="grid-col-auto">
                              <a class="usa-social-link usa-social-link--rss" href="javascript:void(0);">
                                  <span>RSS</span>
                              </a>
                          </li>
                      </ul>
                  </nav>
              </div>
          </div>
      </div>
      <div class="usa-footer__secondary-section">
          <div class="grid-container">
              <div class="grid-row grid-gap">
                  <div class="tablet:grid-col-8">
                      <nav class="usa-footer__nav" aria-labelledby="government-links-header">
                          <h2 id="government-links-header" class="usa-sr-only">Government Links</h2>
                          <ul>
                              <li class="usa-footer__secondary-link"><a href="https://www.usda.gov/policies-and-links">Policies and Links</a></li>
                              <li class="usa-footer__secondary-link"><a href="https://www.usda.gov/plain-writing">Plain Writing</a></li>
                              <li class="usa-footer__secondary-link"><a href="https://www.dm.usda.gov/foia/">FOIA</a></li>
                              <li class="usa-footer__secondary-link"><a href="https://www.usda.gov/accessibility-statement">Accessibility Statement</a></li>
                              <li class="usa-footer__secondary-link"><a href="https://www.usda.gov/privacy-policy">Privacy Policy</a></li>
                              <li class="usa-footer__secondary-link"><a href="https://www.usda.gov/non-discrimination-statement">Non-Discrimination Statement</a></li>
                              <li class="usa-footer__secondary-link"><a href="https://www.ascr.usda.gov/civil-rights-statements">Anti-Harassment Policy</a></li>
                              <li class="usa-footer__secondary-link"><a href="https://www.ars.usda.gov/docs/quality-of-information/">Information Quality</a></li>
                              <li class="usa-footer__secondary-link"><a href="https://www.ars.usda.gov">Agricultural Research Service</a></li>
                              <li class="usa-footer__secondary-link"><a href="https://www.usda.gov">USDA.gov</a></li>
                              <li class="usa-footer__secondary-link"><a href="https://www.usa.gov">USA.gov</a></li>
                              <li class="usa-footer__secondary-link"><a href="https://www.whitehouse.gov">WhiteHouse.gov</a></li>
                          </ul>
                      </nav>
                  </div>
                  <div class="tablet:grid-col-4">
                      <div class="usa-sign-up">
                          <h3 class="usa-sign-up__heading">Sign up for ARS News updates</h3>
                          <form class="usa-form" action="https://public.govdelivery.com/accounts/USDAARS/subscriber/qualify?qsp=CODE_RED">
                              <input name="utf8" type="hidden" value="✓">
                              <input type="hidden" name="authenticity_token" value="tV2OquJR5xnmtrmmZS3UWsIp7QddNiZcKotw2AMMUx2u9nfu4b3aL1Fb4L6RnJCoF5VYhXZ85qUPjpOyJiUlhg==">
                              <label class="usa-label" for="email" id="">Your email address</label>
                              <input class="usa-input" id="email" name="email" type="email">
                              <button class="usa-button" type="submit">Sign up</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
    <!-- Testing Modern Code Footer -->




        </div>
      {% endblock %}
    </div>
    {% javascript 'app-layout' %}
    {% block scripts %}
    {% endblock %}
  </body>
</html>
